header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  display: flex;
  gap: 15px;
}

.menu-btn {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* スマホ */
@media (max-width: 768px) {
  header {
    justify-content: space-between;
  }

  nav {
    display: none;
  }

  .menu-btn {
    display: block;
    margin-left: auto;
  }
}
